<?xml version="1.0" encoding="UTF-8"?>
<config>
    <modules>
        <Ccc_Test>
            <version>1.0.0</version>
        </Ccc_Test>
    </modules>
    <admin>
        <routers>
            <test>
                <use>admin</use>
                <args>
                    <module>Ccc_Test</module>
                    <frontName>test</frontName>
                </args>
            </test>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <test>
                <title>Test</title>
                <sort_order>100</sort_order>
                <action>test/adminhtml_test</action>
            </test>
        </menu>
        <layout>
            <updates>
                <test>
                    <file>test.xml</file>
                </test>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <blocks>
            <test>
                <class>Ccc_Test_Block</class>
            </test>
        </blocks>
        <models>
            <test>
                <class>Ccc_Test_Model</class>
                <resourceModel>ccc_test_resource</resourceModel>
            </test>
            <ccc_test_resource>
                    <class>Ccc_Test_Model_Resource</class>
                    <entities>
                        <test>
                            <table>test</table>
                        </test>
                    </entities>
            </ccc_test_resource>
        </models>
        <helpers>
            <test>
                <class>Ccc_Test_Helper</class>
            </test>
        </helpers>
        <resources>
            <test_setup>
                <setup>
                    <module>Ccc_Test</module>
                </setup>
            </test_setup>
        </resources>
    </global>
</config>